:root{
    background-color: #fff;
    --primary-color: #00c0f2;
    --secondary-color: #024699;
}

/* --------------------------------UNIVERSAL---------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------------------ETIQUETAS-------------------------------- */

header{
    height: 200px;
    }


/* --------------------------------------ID------------------------------------- */




/*------------------------------------ CLASES -----------------------------------*/

/* INICIO FUENTES */

.merienda {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
  
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* FIN FUENTES */



/* nav de header */


/* Classe de animacion logo */


