<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/CSS/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"/>

    <!-- FONTAWESOME -->
    <script
      src="https://kit.fontawesome.com/0adef2b829.js"
      crossorigin="anonymous"
    ></script>

    <!-- Favicon -->
    <link rel="icon" href="../static/img/favicon.ico" />

    <title>Registrate</title>
  </head>
  <body>
    <!-- Encabezado -->
    <header>
      <div class="contenedor-header-grid">
        <div class="logo">
          <a href="../index.html"><img class="animacion-logo" src="../static/img/logo.png" alt=""></a>
        </div>

        <div class="buscar">
          <form action="/" method="get">
              <label for="entrada-categoria-buscada">Buscar en:</label>
                  <select name="categoria-producto" class="seleccion-categoria-buscada">
                      <option value="Buscar en todas las categorias">Todas las categorias</option>
                      <option value="cortantes">Cortantes</option>
                      <option value="animales">Animales</option>
                      <option value="macetas">Macetas</option>
                  </select>
              <input class="texto-entrada-buscar" type="text" placeholder="¿Qué estas buscando?">
          </form>
        </div>
                 
        <div class="login">
          <div class="">
            <a href="./register.html">
                <i class="fa-solid fa-fingerprint fa-fade"></i>
                <span class="texto-registrate">Registrate</span>
            </a>
        </div>
        <br>
        <div class="">
            <a href="./inicio.html">
                <i class="fa-solid fa-right-to-bracket fa-beat"></i>
                <span class="texto-inicio-sesion">Inicia sesión </span>
            </a>
        </div>
        </div>
        
          <nav class="nav">
            <div class="cont-header-nav-row">
                <ul>
                    <li><a class="link-nav" href="../templates/categoria_braile.html">Braile</a></li>
                    <li><a class="link-nav" href="../templates/categoria_cake_toppers.html">Cake Toppers</a></li>
                    <li><a class="link-nav" href="../templates/categoria_cortantes.html">Cortantes</a></li>
                    <li><a class="link-nav" href="../templates/categoria_material_didactico.html">Material Didáctico</a></li>
                    <li><a class="link-nav" href="../templates/categoria_juguetes.html">Juguetes</a></li>
                    <li><a class="link-nav" href="../templates/categoria_macetas.html">Macetas</a></li>
                    <li><a class="link-nav" href="../templates/categoria_mates.html">Mates</a></li>
                    <li><a class="link-nav" href="../templates/categoria_sellos.html">Sellos</a></li>
                    <li><a class="link-nav" href="../templates/categoria_soportes.html">Soportes</a></li>
                    <li><a class="link-nav" href="../templates/categoria_varios.html">Varios</a></li>
                </ul>
            </div>

       </nav>
        
    </header>

    <main class="main-registro">
      <section id="form-wrapper">
        <h2>Completa con tus datos</h2>

        <form action="#" method="get" name="formulario" id="formulario" novalidate>
          <div class="form-control"></div>

          <!-- Nombre -->
          <div class="form-control">
            <label for="">Nombre</label>
            <input type="text" name="firstname" id="firstname" required>
          </div>
          <div class="error" id="error_firstname"></div>


          <!-- Apellido -->
          <div class="form-control">
            <label for="">Apellido</label>
            <input type="text" name="lastname" required>
          </div>
          <div class="error" id="error-lastname"></div>

          <!-- Telefono -->
          <div class="form-control">
            <label for="telefono">Teléfono</label>
            <input type="tel" name="telefono" id="telefono" required>
          </div>
          <div class="error" id="error_telefono"></div>

          <!-- Mail -->
          <div class="form-control">
            <label for="mail">Mail</label>
            <input type="email" name="email" id="email" required placeholder="Para enviarte la factura">
          </div>
          <div class="error" id="error_email"></div>

          <!-- Dieccion -->
          <div class="form-control">
            <label for="">Dirección</label>
            <input type="text" name="direccion" id="direccion" placeholder="Direccion de envio">
          </div>
          <div class="error" id="error_direccion"></div>

          
          <!-- Interes -->
          <div class="form-control">
            <label for="interes">Interés</label>
             <select name="interes" id="interes">
              <option value="" disabled selected>Selecciona tu interés</option>
              <option value="Pastelería">Pastelería</option>
              <option value="Cerámica">Cerámica</option>
              <option value="Docencia">Docencia</option>
              <option value="Inclusión">Inclusión</option>
              <option value="Modelismo">Modelismo</option>
              <option value="Repuestos">Repuestos</option>
              <option value="Otros">Otros</option>
            </select>
          </div>
          <div class="error" id="error_interes"></div>

          <!-- Foto -->
          <div class="form-control">
            <label for="">¿Nos compartís tu Foto?</label>
            <input type="file" id="foto" name="foto" accept="image/*">
          </div>
          <div class="error" id="error_foto"></div>

          <!-- Terminos y condiciones -->
          <div class="form-control">
            <div class="terms">
              <label for="terms" class="terms-label">Acepto términos y condiciones.</label>
              <input type="checkbox" id="terms" class="terms-checkbox" required>
            </div>
          </div>

          <!-- Boon de registro -->
          <div class="boton-registro-conteiner">
            <button class="boton-registro" type="submit">Registrarse</button>
          </div>
          

        </form>

      </section>

    </main>
      

    <!-- Pie -->
    <footer>
      <a href="https://api.whatsapp.com/send?phone=005492616424731" class="whatsapp-btn" target="_blank">
        <i class="fab fa-whatsapp"></i> ¡Hablemos!
      </a>
      
      <div class="contenedor-footer-flex">
        <div class="ayuda">
          <a href="../templates/ayuda.html">
            <button id="botonAyuda">Ayuda y consejos</button>
          </a>
        </div>
    
        <div class="archivos">
          <p>Cotizamos tu diseño!!  Sube el archivo y hablemos</p>
          <form action="#" method="post" enctype="multipart/form-data">
            <input type="file" name="archivo" id="archivo">
            <input type="submit" value="Subir Archivo">
          </form>
        </div>
      </div>
    </footer>
    <script src="../js/validaciones.js"></script>
  </body>
</html>
